In [1]:
listaVacia = list()

In [3]:
listaVacia

[]

In [12]:
listaDatos = [24.3, 'ewe', "trytr", [1,2,3], 6]

In [5]:
listaDatos

[24.3, 'ewe', 'trytr', [1, 2, 3]]

In [14]:
for i, obj in enumerate(listaDatos):
    print(i, obj)
    if type(obj) == int:
        listaDatos[i] = str(obj)
        print(i, obj)

0 24.3
1 ewe
2 trytr
3 [1, 2, 3]
4 6

In [16]:
## Tupla no se puede modificar

In [17]:
tupla = tuple(listaDatos)

In [18]:
tupla

(24.3, 'ewe', 'trytr', [1, 2, 3], '6')

In [20]:
tupla[3]

[1, 2, 3]

In [21]:
tupla[2]

'trytr'

In [22]:
tupla[0]

24.3

In [27]:
tupla[3].append(65)

In [28]:
tupla

(24.3, 'ewe', 'trytr', [1, 2, 3, 65, 65, 65], '6')

In [31]:
lista2 = [5, 'sdf', 93.1]

In [35]:
# set: conjunto

In [56]:
setDatos = {10,89,4,5,'wqewq',87}

In [55]:
setDatos

{10, 4, 5, 87, 89, 'wqewq'}

In [59]:
setDatos = set(listaDatos)

TypeError: unhashable type: 'list'

In [58]:
setDatos

{5, 93.1, 'sdf'}

In [41]:
setDatos[0]

TypeError: 'set' object is not subscriptable

In [65]:
diccionarioDatos = {'cedula':75456546}

In [67]:
diccionarioDatos

{'cedula': 75456546}

In [72]:
diccionarioDatos.update({'nombre':'rrq'})

In [73]:
diccionarioDatos

{'cedula': 75456546, 'nombre': 'rrq'}

In [186]:
diccionarioDatos['nombre']

'rrq'

In [77]:
len(listaDatos)

5

In [78]:
len(diccionarioDatos)

2

In [82]:
for i in range (20):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [81]:
for i in range (10,20,2):
    print (i)

10
12
14
16
18

In [2]:
A = [[1,2,3], [4,5,6], [7,8,9]]
B = [[1,0], [0,1], [1,0]]

In [85]:
for a in A:
    print(a)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [114]:
for b in B:
    print(b)

[1, 0]
[0, 1]
[1, 0]

In [96]:
colB = len(B[0])
colB

2

In [170]:
A
B

[[1, 0], [0, 1], [1, 0]]

In [169]:
X = [0 for _ in A]
Y = [0 for _ in B]
print (X)
print (Y)

[0, 0, 0]
[0, 0, 0]

In [172]:
[0 for _ in B]
B

[[1, 0], [0, 1], [1, 0]]

In [4]:
matMul(A,B)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [165]:
def matMul (A, B):
    colB = len(B[0])
    C = []
    for index in range(len(A)):
        currC = []
        for bi in range(colB):
            sumAB = 0
            for aindex in range(len(A[index])): 
                sumAB = sumAB + (A[index][aindex] * B[aindex][bi])
            currC.append(sumAB)
        C.append(currC)
    return C

In [ ]:
def matMul2 (A, B):
    colB = len(B[0])
    C = []
    for index in range(len(A)):
        currC = []
        for bi in range(colB):
            sumAB = 0
            for aindex in range(len(A[index])): 
                sumAB = sumAB + (A[index][aindex] * B[aindex][bi])
            currC.append(sumAB)
        C.append(currC)
    return C

In [178]:
def matMulProfesor1 (A, B):
    C = [[0 for _ in B[0]] for _ in A]
    
    for idx_row_a, row_a in enumerate(A):
        for idx_row_b, row_b in enumerate(B):
            for idx_col_b, col_b in enumerate(row_b):
                a = A[idx_row_a][idx_row_b]
                b = B[idx_row_b][idx_col_b]
                C[idx_row_a][idx_col_b] += a*b
                
    return C

In [183]:
mA = [[1,2,3], [4,5,6], [7,8,9]]
mB = [[1,0], [0,1], [1,0]]

myC = matMul(mA,mB)
print(myC)

myCProf1 = matMulProfesor1(mA,mB)
print(myCProf1)

[[4, 2], [10, 5], [16, 8]]
[[4, 2], [10, 5], [16, 8]]